.counter {
    position: absolute;
    left: 950px;
    top: 160px;  
    font-size: 150%;
}

.counter1 {
    position: absolute;
    left: 350px;
    top: 160px;
    font-size: 150%;
}


.button {
    width: 60px;
    height: 50px;
    font-size: 130%;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.restart {
    position: absolute;
    left: 630px;
    top: 450px;
    width: 80px;
    height: 30px;
    font-size: large;
}

.img {
    position: absolute;
    left: 410px;
    top: 100px;
}

@media screen and (min-width: 479px) {
    body {
        width: 479px;
        height: 1000px;
    }
    .counter {
        position: absolute;
        left: 15px;
        top: 50px;  
        font-size: 150%;
    }
    .counter1 {
        position: absolute;
        left: 454px;
        top: 50px;  
        font-size: 150%;
    }
    .img {
        position: absolute;
        left: 200px;
        top: 30px;
    }
    .restart {
        position: absolute;
        top: 300px;
        left: 250px;
    }
}
